.pessoal{
    padding-left: 2%;
    color: var(--font-color-blue);
}

.titulo:hover{
    transition: 0.3s ease-in-out;
    color: var(--font-color-orange);
    transform: scale(102%);
}

.pessoal p{
    color: var(--font-color-orange);
    padding-top: 5%;
}

.texto-pessoal{
    width: 350px;   
}

#titulo-pessoal{
    margin-bottom: 0;
    font-size: 400%;
}

#subtitulo-pessoal{
    font-size: 150%;
    padding-bottom: 2%;
}